 .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.profile-header {
 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .post {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .post img {
    width: 100%;
    height: auto;
  }

  .profile-info {
    color:white
}

